@charset "utf-8";
@import url("fontawesome-4.5.0.min.css");
@import url("fonts.googleapis.com.css");
/*
*******************************************************************************************************************
*******************************************************************************************************************
														Below Contains the Styles For Customized Css for Different Pages
*******************************************************************************************************************
*******************************************************************************************************************
*/

/* Main Custom Styles */


/*Hide these div's at the mobile size*/
@media screen and (min-width:900px){
	#togglediv{margin-top: 20px;}
}

@media screen and (min-width: 0px) and (max-width: 650px) {
  #logo { display: none; }  /* do not show it on small screens */
}

.layoutpanel{
	border: 0.3px solid #A3D044;
}

.layoutpanel > .layoutpanel-heading {
    background-image: none;
    background-color: #A3D044;
}




@media screen and (max-width:978px){
	.footercol{
		padding-top:50px;
	}
}
/* End of Main Custom styles*/

/*signin signup styles*/

.loginli,.loginul,.logininput{margin:0; padding:0; list-style:none}
#login-form{width:350px; background:#e8e8e8; margin:0 auto; margin-top:70px; background:#e8e8e8; overflow:hidden; border-radius:7px}
.form-header{display:table; clear:both}
.form-header label{display:block; cursor:pointer; z-index:999}
.form-header .loginli{margin:0; line-height:60px; width:175px; text-align:center; background:#050505; font-size:18px; float:left; transition:all 600ms ease}

/*sectiop*/
.section-out{width:700px; float:left; transition:all 600ms ease}
.section-out:after{content:''; clear:both; display:table}
.section-out section{width:350px; float:left}

.login{padding:20px}
.ul-list{clear:both; display:table; width:100%}
.ul-list:after{content:''; clear:both; display:table}
.ul-list .loginli{ margin:0 auto; margin-bottom:12px}
.input{background:#fff; transition:all 800ms; width:247px; border-radius:3px 0 0 3px; font-family: 'Ropa Sans', sans-serif; border:solid 1px #ccc; border-right:none; outline:none; color:#999; height:40px; line-height:40px; display:inline-block; padding-left:10px; font-size:16px}
.input,.login span.icon{vertical-align:top}
.login span.icon{width:50px; transition:all 800ms; text-align:center; color:#999; height:40px; border-radius:0 3px 3px 0; background:#e8e8e8; height:40px; line-height:40px; display:inline-block; border:solid 1px #ccc; border-left:none; font-size:16px}
.input:focus:invalid{border-color:red}
.input:focus:invalid+.icon{border-color:red}
.input:focus:valid{border-color:green}
.input:focus:valid+.icon{border-color:green}
#check,#check1{top:1px; position:relative}
.loginbtn{border:none; outline:none; background:#0099CC; border-bottom:solid 4px #006699; font-family: 'Ropa Sans', sans-serif; margin:0 auto; display:block; height:40px; width:100%; padding:0 10px; border-radius:3px; font-size:16px; color:#FFF}

.social-login{padding:15px 20px;background:rgba(255,255,255,.3); border-top:solid 2px #e8e8e8; text-align:right}
.social-login a{display:inline-block; height:35px; text-align:center; line-height:35px; width:35px; margin:0 3px; text-decoration:none; color:#FFFFFF}
.form a i.fa{line-height:35px}
.fb{background:#305891} .tw{background:#2ca8d2} .gp{background:#ce4d39} .in{background:#006699}
.remember{width:50%; display:inline-block; clear:both; font-size:14px}
.remember:nth-child(2){text-align:right}
.remember a{text-decoration:none; color:#A3D044}

.hide{display:none}

/*swich form*/
#signup:checked~.section-out{margin-left:-350px}
#login:checked~.section-out{margin-left:0px}
#login:checked~div .form-header .loginli:nth-child(1),#signup:checked~div .form-header .loginli:nth-child(2){background:rgba(255,255,255,.3);}
@media screen and (min-width:978px){
	#login-form{
	  margin-top: 170px;
	}
}
@media screen and (max-width:978px){
  #login-form{
    margin-top: 200px;
  }
}
@media screen and (max-width:750px){
  #login-form{
    margin-top: 290px;
  }
}

/* End of signin and signup styles */

/*
*******************************************************************************************************************
*******************************************************************************************************************
														Below Contains the Styles Needed for the Main Layout Only
*******************************************************************************************************************
*******************************************************************************************************************
*/

/* Rows
--------------------------------------------------------------------------------------------------------------- */
.row1{border-bottom: 5px solid #A3D044;}
.row1 a{}
.row2, .row2 a{}
.row3, .row3 a{}
.row4, .row4 a{}
.row5, .row5 a{}


/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
#topbar{padding:15px 0; font-size:.8rem; text-transform:uppercase;}

#topbar *{margin:0;}
#topbar .layoutul .layoutli{display:inline-block; margin-right:10px; padding-right:15px; border-right:1px solid;}
#topbar .layoutul .layoutli:last-child{margin-right:0; padding-right:0; border-right:none;}
#topbar i{margin:0 5px 0 0; line-height:normal;}


/* Header
--------------------------------------------------------------------------------------------------------------- */
#header #logo{margin-top:15px;}
#header #logo *{margin:0; padding:0; line-height:1;}
#header #logo h1{font-size:32px; font-variant:small-caps;}
#header #logo p{font-size:12px; text-transform:lowercase;}


/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro{padding:150px 0;}
#pageintro article{text-align:center;}
#pageintro article div{margin-bottom:80px;}



/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.layoutcontainer{padding:80px 0;}

/* Content */
.layoutcontainer .content{}

.cta{}
.cta article{display:block; position:relative; padding:0 0 0 50px; line-height:normal;}
.cta article .numb{float: left}
.cta article .heading{margin-bottom:10px;}

.services{}
.services {display:block; padding:30px;}
.services div *{margin:8px; padding:1px;}
.services div i{margin-bottom:15px;}
.services div .heading{margin-bottom:10px;}

/* Comments */
#comments .layoutul{margin:0 0 40px 0; padding:0; list-style:none;}
#comments .layoutli{margin:0 0 10px 0; padding:15px;}
#comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#comments address{font-weight:bold;}
#comments time{font-size:smaller;}
#comments .comcont{display:block; margin:0; padding:0;}
#comments .comcont p{margin:10px 5px 10px 0; padding:0;}

#comments form{display:block; width:100%;}
#comments .layoutinput, #comments .layouttextarea{width:100%; padding:10px; border:1px solid;}
#comments .layouttextarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments .layoutinput[type="submit"], #comments .layoutinput[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}

/* Sidebar */
/*.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}*/


/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer{padding:80px 0;}

#footer .title{margin:0 0 50px 0; padding:0; font-size:1.2rem;}

#footer .linklist .layoutli{display:block; margin-bottom:15px; padding:0 0 15px 0; border-bottom:1px solid;}
#footer .linklist .layoutli:last-child{margin:0; padding:0; border:none;}
#footer .linklist .layoutli::before, #footer .linklist .layoutli::after{display:table; content:"";}
#footer .linklist .layoutli, #footer .linklist .layoutli::after{clear:both;}

#footer .contact{}
#footer .contact .linklist .layoutli, #footer .contact.linklist .layoutli:last-child{position:relative; padding-left:40px;}
#footer .contact .layoutli *{margin:0; padding:0; line-height:1.6;}
#footer .contact .layoutli i{display:block; position:absolute; top:0; left:0; width:30px; font-size:16px; text-align:center;}


/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}


/* Transition Fade
--------------------------------------------------------------------------------------------------------------- */
/**, *::before, *::after{transition:all .3s ease-in-out;}
#mainav form *{transition:none;!important}*/


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav .layoutul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav .layoutli .layoutli .drop::after, #breadcrumb .layoutli a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}

/* Top Navigation */
#mainav{}
#mainav .layoutul .layoutclear{margin-top:3px;}
#mainav .layoutul{text-transform:uppercase;}
#mainav .layoutul .layoutul{z-index:9999; position:absolute; width:180px; text-transform:none;}
#mainav .layoutul .layoutul .layoutul{left:180px; top:0;}
#mainav .layoutli{display:inline-block; position:relative; margin:0 15px 0 0; padding:0;}
#mainav .layoutli:last-child{margin-right:0;}
#mainav .layoutli .layoutli{width:100%; margin:0;}
#mainav .layoutli a{display:block; padding:30px 0;}
#mainav .layoutli .layoutli a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{margin-left:20px;}
#mainav .layoutli .layoutli a, #mainav .layoutli .layoutli .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav .layoutli .layoutli .drop::after{content:"\f0d7";}
#mainav .drop::after{top:35px; left:5px;}
#mainav .layoutli .layoutli .drop::after{top:15px; left:5px;}
#mainav .layoutul .layoutul{visibility:hidden; opacity:0;}
#mainav .layoutul .layoutli:hover > .layoutul{visibility:visible; opacity:1;}

#mainav form{display:none; margin:0; padding:0;}
#mainav form .layoutselect, #mainav form .layoutselect .layoutoption{display:block; cursor:pointer; outline:none;}
#mainav form .layoutselect{width:100%; padding:5px; border:none;}
#mainav form .layoutselect .layoutoption{margin:5px; padding:0; border:none;}

/* Breadcrumb */
#breadcrumb{padding:15px 0;}
#breadcrumb .layoutul{margin:0; padding:0; list-style:none; text-transform:uppercase;}
#breadcrumb .layoutli{display:inline-block; margin:0 6px 0 0; padding:0;}
#breadcrumb .layoutli a{display:block; position:relative; margin:0; padding:0 12px 0 0; font-size:12px;}
#breadcrumb .layoutli a::after{top:3px; right:0; content:"\f101";}
#breadcrumb .layoutli:last-child a{margin:0; padding:0;}
#breadcrumb .layoutli:last-child a::after{display:none;}

/* Sidebar Navigation */
/*.sidebar nav{display:block; width:100%;}
.sidebar nav li{margin:0 0 3px 0; padding:0;}
.sidebar nav a{display:block; position:relative; margin:0; padding:5px 10px 5px 15px; text-decoration:none; border:solid; border-width:0 0 1px 0;}
.sidebar nav a::after{top:9px; left:5px; content:"\f101";}
.sidebar nav ul ul a{padding-left:35px;}
.sidebar nav ul ul a::after{left:25px;}
.sidebar nav ul ul ul a{padding-left:55px;}
.sidebar nav ul ul ul a::after{left:45px;}*/

/* Pagination */
/*.pagination{display:block; width:100%; text-align:center; clear:both;}
.pagination li{display:inline-block; margin:0 2px 0 0;}
.pagination li:last-child{margin-right:0;}
.pagination a, .pagination strong{display:block; padding:8px 11px; border:1px solid; background-clip:padding-box; font-weight:normal;}*/

/* Back to Top */
#backtotop{z-index:999; display:inline-block; position:fixed; visibility:hidden; bottom:20px; right:20px; width:36px; height:36px; line-height:36px; font-size:16px; text-align:center; opacity:.2;}
#backtotop i{display:block; width:100%; height:100%; line-height:inherit;}
#backtotop.visible{visibility:visible; opacity:.5;}
#backtotop:hover{opacity:1;}


/* Tables
--------------------------------------------------------------------------------------------------------------- */
/*table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top;}
table, th{table-layout:auto;}
table{width:100%; margin-bottom:15px;}
th, td{padding:5px 8px;}
td{border-width:0 1px;}*/


/* Gallery
--------------------------------------------------------------------------------------------------------------- */
#gallery{display:block; width:100%; margin-bottom:50px;}
#gallery figure figcaption{display:block; width:100%; clear:both;}
#gallery .layoutli{margin-bottom:30px;}


/* Font Awesome Social Icons
--------------------------------------------------------------------------------------------------------------- */
.faico{margin:0; padding:0; list-style:none;}
.faico li{display:inline-block; margin:8px 5px 0 0; padding:0; line-height:normal;}
.faico li.i:last-child{margin-right:0;}
.faico a{display:inline-block; width:36px; height:36px; line-height:36px; font-size:18px; text-align:center;}

.faico a{color:#050505; background-color:#A3D044;}
.faico a:hover{color:#FFFFFF;}

.faicon-dribble:hover{background-color:#EA4C89;}
.faicon-facebook:hover{background-color:#3B5998;}
.faicon-google-plus:hover{background-color:#DB4A39;}
.faicon-linkedin:hover{background-color:#0E76A8;}
.faicon-twitter:hover{background-color:#00ACEE;}
.faicon-vk:hover{background-color:#4E658E;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Colours
--------------------------------------------------------------------------------------------------------------- */
.layoutbody{color:#FFFFFF;}
/*a{color:#A3D044;}
a:active, a:focus{background:transparent;}/* IE10 + 11 Bugfix - prevents grey background */
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
.layoutinput:focus, .layouttextarea:focus, *:required:focus{border-color:#A3D044;}
/*.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.55); background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhJREFUeNpiYGBgePz//38GRhABAgABBgBFTAbfCBNE2AAAAABJRU5ErkJggg==");}*/

.btnlayout, .btnlayout.inverse:hover{color:#FFFFFF; background-color:#A3D044; border-color:#A3D044;}
.btnlayout:hover, .btnlayout.inverse{color:inherit; background-color:transparent; border-color:inherit;}


/* Rows */
.row0, .row0 a{color:#7F7F7F; background-color:#141414;}
.row0{border-color:#A3D044;}
.row1{color:#FFFFFF; background-color:#252525;}
.row2{color:#FFFFFF; background-color:#141414;}
.row3{color:#141414; background-color:#FFFFFF;}
.row4{color:#7F7F7F; background-color:#252525;}
.row5, .row5 a{color:#7F7F7F; background-color:#141414;}


/* Top Bar */
#topbar .layoutul .layoutli{border-color:rgba(255,255,255,.2);}
#topbar div:first-of-type .layoutli:first-child a{color:#A3D044;}


/* Header */
#header #logo h1 a{color:inherit; background-color:inherit;}


/* Content Area */
.cta article .heading a{color:inherit;}
.cta article:hover .heading a{color:#A3D044;}
.cta article .numb{color:rgba(0,0,0,.1);}
.cta article:hover .numb{text-shadow:1px 1px rgba(0,0,0,.8);}


.services div{border:1px solid#D7D7D7;}
.services div:hover{color:#FFFFFF; background-color:#A3D044; border-color:#A3D044; box-shadow:5px 5px 0px rgba(0,0,0,.2);}
.services div:hover a{color:inherit; text-shadow:1px 1px rgba(0,0,0,.4);}


/* Footer */
#footer .title{color:#FFFFFF;}
#footer .linklist .layoutli{border-color:#414141;}


/* Navigation */
#mainav .layoutli a{color:inherit;}
#mainav .active a, #mainav a:hover, #mainav .layoutli:hover > a{color:#A3D044; background-color:inherit;}
#mainav .layoutli .layoutli a, #mainav .active .layoutli a{color:#FFFFFF; background-color:rgba(0,0,0,.6); border-color:rgba(0,0,0,.6);}
#mainav .layoutli .layoutli:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#A3D044;}
#mainav form select{color:#FFFFFF; background-color:#141414;}

#breadcrumb a{color:inherit; background-color:inherit;}
#breadcrumb .layoutli:last-child a{color:#A3D044;}

.layoutcontainer .sidebar nav a{color:inherit; border-color:#D7D7D7;}
.layoutcontainer .sidebar nav a:hover{color:#A3D044;}

.pagination a, .pagination strong{border-color:#D7D7D7;}
.pagination .current *{color:#FFFFFF; background-color:#A3D044;}

#backtotop{color:#FFFFFF; background-color:#A3D044;}


/* Tables + Comments */



/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px){
	.layouthoc{max-width:90%;}
}


/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:900px){
	.layouthoc{max-width:90%;}

	#topbar{}

	#header{padding:20px 0;}
	#header #logo{margin:0;}

	#mainav{}
	#mainav .layoutul{display:none;}
	#mainav form{display:block; margin-top:8px;}

	#breadcrumb{}

	.layoutcontainer{}
	#comments .layoutinput[type="reset"]{margin-top:10px;}
	.pagination .layoutli{display:inline-block; margin:0 5px 5px 0;}

	#footer{}

	#copyright{}
	#copyright p:first-of-type{margin-bottom:10px;}
}


@media screen and (max-width:750px){
	.layouthoc{max-width:90%;}
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;}

	#topbar{padding-top:15px; text-align:center;}
	#topbar .layoutul{margin:0 0 15px 0; line-height:normal;}

	#header{text-align:center;}
	#header #logo{margin:0 0 30px 0;}

	#mainav form{margin-top:0;}

	#pageintro article div .heading{margin-bottom:30px; font-size:38px;}
	#pageintro article div p:first-of-type{margin-bottom:20px; font-size:18px;}

	.layoutcontainer, #footer{padding-bottom:50px;}/* Not neccessary - just looks better */
}


@media screen and (max-width:450px){
	#topbar .layoutul .layoutli{margin-bottom:2px; padding-right:0; border-right:none;}
}


/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px){
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}
}

/*All the other Stylings*/

html{overflow-y:scroll; overflow-x:hidden;}
html, .layoutbody{margin:0; padding:0; font-size:14px; line-height:1.6em;}

*, *::before, *::after{box-sizing:border-box;}

.layoutcenter{text-align:center;}
.layoutnospace{margin:0; padding:0; list-style:none;}
.layoutblock{display:block;}
.layoutinline *{display:inline-block;}
.layoutinline *:last-child{margin-right:0;}
.layoutpushright .layoutli{margin-right:20px;}
.layoutpushright .layoutli:last-child{margin-right:0;}
.borderedbox{border:1px solid;}
.layoutoverlay{position:relative; z-index:1;}
.layoutoverlay::after{display:block; position:absolute; top:0; left:0; width:100%; height:100%; content:""; z-index:-1;}
.bgded{background-position:top center; background-repeat:no-repeat; background-size:cover;}
.circle{border-radius:50%; background-clip:padding-box;}

.btnlayout{display:inline-block; padding:15px 25px 17px; text-transform:uppercase; border:1px solid;}
.btnlayout.medium{padding:10px 20px 12px;}
.btnlayout.small{padding:8px 18px 10px; text-transform:none;}

.layoutclear, .group{display:block;}
.layoutclear::before, .layoutclear::after, .group::before, .group::after{display:table; content:"";}
.layoutclear, .layoutclear::after, .group, .group::after{clear:both;}

a{outline:none; text-decoration:none;}

.fl_left, .imgl{float:left;}
.fl_right, .imgr{float:right;}

#imglayout{width:auto; max-width:100%; height:auto; margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
.imgl{margin:0 15px 10px 0; clear:left;}
.imgr{margin:0 0 10px 15px; clear:right;}


/* Fonts
--------------------------------------------------------------------------------------------------------------- */
.layoutbody, .layoutinput, .layouttextarea, .layoutselect{font-family:Verdana, Geneva, sans-serif;}
#lh1, #lh2, #lh3, #lh4, #lh5, #lh6, .heading{font-family:Georgia, "Times New Roman", Times, serif;}




/* Generalise
--------------------------------------------------------------------------------------------------------------- */
#lh1, #lh2, #lh3, #lh4, #lh5, #lh6, .heading{margin:0 0 20px 0; font-size:22px; line-height:normal; font-weight:normal; text-transform:uppercase;}

address{font-style:normal; font-weight:normal;}
hr{display:block; width:100%; height:1px; border:solid; border-width:1px 0 0 0;}

.font-xs{font-size:.8rem;}
.font-x1{font-size:1.2rem;}
.font-x2{font-size:1.8rem;}
.font-x3{font-size:2.8rem;}

.layoutwrapper{display:block; width:100%; margin:0; padding:0; text-align:left; word-wrap:break-word;}
/*
The "hoc" class is a generic class used to centre a containing element horizontally
It should be used in conjunction with a second class or ID
*/
.layouthoc{display:block; margin:0 auto;}


/* HTML 5 Overrides
--------------------------------------------------------------------------------------------------------------- */
/*address, article, aside, figcaption, figure, footer, header, main, nav, section{display:block; margin:0; padding:0;}*/


/* Grid
--------------------------------------------------------------------------------------------------------------- */
.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:inline-block; float:left; margin:0 0 0 3.06748466257669%; list-style:none;}

.first{margin-left:0; clear:left;}

.one_quarter{width:22.69938650306748%;}
.one_third{width:31.28834355828221%;}
.one_half, .two_quarter{width:48.46625766871166%;}
.two_third{width:65.6441717791411%;}
.three_quarter{width:74.23312883435584%;}
